
@font-face {
    font-family: Playlist-Script;
    src: url(fonts/19484.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
*{
    margin:0px;
    padding:0px;
}

.header
{
    position: fixed ;
    background:#111111; 

    width: 100%;
    height:28px;
}











.header .li{
    float:left;
    list-style:none;
    padding:4px;
    list-style: none;
    margin-left:1%;
}
.header .li a
{
    margin-right:10px;
    text-decoration: none;
    font-size: 15px;
    color:white;
    font-family: 'Rubik', sans-serif;
}
 .li a:hover{
    background:white;
    color:black;
    padding-bottom:4px;
    padding-top:4px;
}
.li a:active
{
    background:rgb(36, 35, 35);
    color:white;
}















.header .account
{
    list-style: none;
    padding:4px;
    margin-left:85%;
}
.header .account a{
    margin-right:10px;
    text-decoration:none;
    color:white;
    font-family: 'Rubik', sans-serif;
    font-size:15px;
}
 .account a:hover
{
    background:white;
    color:black;
    padding-bottom:4px;
    padding-top:4px;
}
.account a:active
{
    background:rgb(36, 35, 35);
    color:white;
}









.logo{

    position: fixed;
    width:100%;
    height:40px;
    background:black;
    text-align: center;
    margin-top:28px;
    padding:20px;
}

.logo a{
    
    color:white;
    font-family: Playlist-Script;
    text-decoration:none;
    font-size: 35px;
    padding-left: 4px;
    padding-right:4px;
    border:solid white;
    border-radius:10%;
    border-width:2px;
}







.lie{
    background:gray;
    width: 100%;
    height:110px;
}








.header3
{
    width:100%;
    height:400px;
   background:url(images/1.jpg);
}
.header3 p{
    text-align:center;
    font-size: 200px;
    color:black;
    text-shadow:5px 5px white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right:100px;
    margin-left:100px;
    
}







.user{
    
    background:white;
    width: 100%;
    height:1500px;
}
.user h3
{
    margin-top:5%;
    padding-top:10px;
    font-weight: lighter;
    text-align: center;
    font-size:40px;
    font-family: 'Cairo', sans-serif;
    text-decoration: overline;
    text-shadow :2px 2px #2b2a2a;
}





.footer{
    
    width:100%;
    height: 200px;
    background:black;
    color:green;
}





.card1{
    text-align: center;
    margin-top:5%;
    float:left;
    margin-left:15%;
}
.card1 img{
    width:550px;
    height:450px;
    border:solid 1px black;
    border-radius:2%;
}
.card1 a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-bottom:8px;
}
.card1 a:hover
{
    background:black;
    color:white;
    border-radius:10%;
}





.card2
{
    float: right;
    margin-top:5%;
    text-align: center;
    margin-right:15%;
}
.card2 img
{
    width: 550px;
    height:450px;
    border:solid 1px black;
    border-radius:2%;
}
.card2 a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-bottom:8px;
}
.card2 a:hover
{
    background:black;
    color:white;
    border-radius:10%;
}




.card3{
    float:left;
    margin-top:5%;
    text-align: center;
    margin-left:15%;
}
.card3 img
{
    width: 550px;
    height: 450px;
    border:solid 1px black;
    border-radius:2%;
}
.card3 a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-bottom:8px;
}
.card3 a:hover{
    background:black;
    color:white;
    border-radius:10%;
}


.card4{
    float: right;
    margin-top:5%;
    text-align: center;
    margin-right:15%;
}
.card4 img
{
    width: 550px;
    height:450px;
    border:solid 1px black;
    border-radius:2%;
}